/*обнуление отступов и шрифты*/
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}
/*header*/
.welcome {
  height: 449px;
  /*
  min-width: 1200px;*/
  width: 100%;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  font-family: Open Sans, Arial, sans-serif;
}
.container {
  z-index: 2;
  position: relative;
  /*width: 72.28%;*/
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.8%;
  padding-right: 0.8%;
}
.welcome::after {
  content: "";
  background-color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
.box {
  display: flex;
  padding-top: 28px;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
}
.header-logo {
  width: 180px;
}
.menu {
  display: flex;
}
.menu-list {
  margin-left: auto;
  display: flex;
}
.menu-list-item:nth-child(n + 2) {
  margin-left: 38px;
}
li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
}
.hello {
  display: flex;
  justify-content: center;
}
.welcome-title {
  z-index: 2;
  text-transform: uppercase;
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  margin-top: 136px;
  font-weight: bold;
  width: 735px;
}
/*main*/
/*section1*/
.main {
  display: flex;
  justify-content: space-between;
}
.card {
  font-family: Open Sans, Arial, sans-serif;
  display: flex;
}
.cardtext {
  padding-left: 30px;
}
.news-photo {
  margin-top: 63px;
  max-width: 381px;
}

.heading-link {
  margin-top: 63px;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  word-spacing: 12px;
  font-weight: bold;
}
.heading {
  margin-top: 63px;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  word-spacing: 12px;
  font-weight: bold;
}
.card-name {
  text-transform: uppercase;
  padding-top: 15px;
  display: flex;
  width: 282px;
}
.card-date {
  color: #989898;
  font-size: 12px;
}
.signature {
  padding-left: 16px;
  font-weight: bold;
  font-size: 12px;
}
.card-content {
  margin-top: 35px;
  max-width: 367px;
  display: flex;
  font-size: 15px;
}
/*section2*/
.rightside {
  display: flex;
  padding-top: 63px;
  flex-direction: column;
  align-items: flex-end;
}
.minicard-header {
  padding-left: 18px;
}
.minicard {
  display: flex;
  padding-top: 23px;
  bottom: 60px;
}
.date {
  color: #989898;
  font-size: 12px;
  font-family: Open Sans, Arial, sans-serif;
}
.minicard-name {
  width: 176px;
  display: flex;
  text-transform: uppercase;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
}
.posts-name {
  text-transform: uppercase;
  color: black;
  font-size: 14px;
  font-family: Open Sans, Arial, sans-serif;
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
}
.posts-name::after {
  content: "";
  display: block;
  height: 3px;
  width: 68px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}
.search-label {
  width: 100%;
}
.field-email {
  margin-top: 24px;
  box-sizing: border-box;
  width: 272px;
  border: 1px solid #f4f7f6;
  padding: 16px 35px 16px 20px;
  background-color: #f4f7f6;
}
.button {
  color: #ffffff;
  display: block;
  margin-top: 17px;
  width: 272px;
  border: none;
  padding: 16px 35px 16px 20px;
  background-color: #b59f5b;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 62px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 25px;
  margin-bottom: 60px;
}
.tags-list {
  display: flex;
  font-family: Open Sans, Arial, sans-serif;
  padding-left: 13px;
  padding-right: 13px;
  flex-wrap: wrap;
  width: 272px;
}
.tags-list-item {
  display: flex;
}
.tags-list-item:nth-child(n + 1) {
  margin-left: 5px;
  border: 3px solid #f4f7f6;
  margin-top: 5px;
}
.tags-categories {
  display: flex;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  color: black;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 8px;
  padding-bottom: 7px;
  width: 100%;
}
.scroll-list {
  text-decoration: none;
  list-style-type: none;
  margin-top: 24px;
}
.categories-list {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #0f0d0e;
  font-family: Open Sans, Arial, sans-serif;
  font-style: regular;
  list-style-type: none;
  text-transform: inherit;
}
.categories {
  width: 272px;
}
.categories-list-item:nth-child(n + 1) {
  border-bottom: 1px solid #f4f7f6;
  margin-bottom: 17px;
  display: flex;
}
.number {
  color: #b59f5b;
  font-size: 12px;
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
  padding-left: 4px;
  padding-bottom: 21px;
}
.form-hint {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.subscribe-form {
  display: block;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
.recent-search {
  display: flex;
  margin-top: 54px;
  margin-bottom: 62px;
}
.subscribe-search {
  position: relative;
  min-width: 48px;
}
.recent-search input[type="text"] {
  padding: 16px 35px 16px 20px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  border: none;
  outline: none;
}
.recent-search .subscribe-search {
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
}
.btn-color {
  cursor: pointer;
  background-color: #b59f5b;
}
.recent-search .visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
/*footer*/

.articles-socials {
  background-color: #eeeeee;
  text-align: center;
  margin-top: 70px;
  width: 100%;
}
.socials {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 19px;
  padding-bottom: 19px;
}
.socials-item {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.socials-link {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  position: relative;
  display: inline-block;
  padding: 5px;
}
.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}
.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}
.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}
.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}
.socials-link-instagram {
  background-image: url(../svg/005-instagram.svg);
}
.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}
.footinfo {
  margin-top: 70px;
  color: #999999;
  text-align: center;
  text-transform: none;
}
.trends {
  width: 100%;
  font-family: Open Sans, Arial, sans-serif;
  position: relative;
  min-width: 1200px;
  margin-bottom: 63px;
}

.pics {
  width: 100%;
  /* height: 320px;*/
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.trend1 {
  width: 24.7%;
  margin-right: 0.25%;
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  border-top: 1px solid #9b9c8f;
  border-bottom: 1px solid #9b9c8f;
  position: relative;
  height: 320px;
}
.trend1::before,
.trend2::before,
.trend3::before,
.trend4::before {
  background-color: #000000;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}

.trend2 {
  width: 24.8125%;
  margin-right: 0.25%;
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  border-top: 1px solid #9b9c8f;
  border-bottom: 1px solid #9b9c8f;
  position: relative;
  height: 320px;
}

.trend3 {
  width: 24.8125%;
  margin-right: 0.25%;
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  border-top: 1px solid #9b9c8f;
  border-bottom: 1px solid #9b9c8f;
  position: relative;
  height: 320px;
}

.trend4 {
  width: 24.8125%;
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  border-top: 1px solid #9b9c8f;
  border-bottom: 1px solid #9b9c8f;
  position: relative;
  height: 320px;
}

.post-name {
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-family: Open Sans, Arial, sans-serif;
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
  padding-bottom: 14px;
  justify-content: center;
  margin-top: 63px;
  margin-bottom: 28px;
}
.post-name::after {
  content: "";
  display: block;
  height: 3px;
  width: 68px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}

.photo {
  margin-right: auto;
  margin-left: auto;
  width: 299px;
}

.product__description {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
}
.product-description-link-text {
  font-weight: 400;
  text-transform: none;
  font-size: 15px;
  color: #b59f5b;
}

.product__title {
  font-size: 20px;
  font-family: Open Sans, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.product__price {
  font-size: 20px;
  font-weight: bold;
  color: black;
  line-height: 1;
  display: flex;
}

.product__price_old {
  text-decoration: line-through;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.product__rub {
  margin-left: 8px;
}
.product__price-value {
  font-family: Open Sans, Arial, sans-serif;
  font-weight: bold;
}
/*кнопка*/
.product__button {
  border: none;
  background-color: #b59f5b;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  padding: 20px 25px;
  margin-top: 20px;
  width: 140px;
}

/**/

.product {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}

@media (min-width: 769px) {
  .product:nth-child(-n + 2) {
    margin-right: 5%;
  }
}

.product__footer {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}
p {
  /*Исправить*/
  margin-top: 0;
  line-height: 1.5;
}
/*картинка*/

.products {
  /*box-sizing: border-box;*/
  /*padding-top: 40px;*/
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__body {
  box-sizing: border-box;
  border: 2px solid #b59f5b;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  height: 265px;
  padding: 20px;
  max-width: 338px;
}
.product__imgbox {
  align-self: center;
  /*width: 80%;*/
}

.product-description-link {
  color: #b59f5b;
  text-decoration: none;
}

/* гамбургер*/
.menu__btn {
  display: none;
}

@media (max-width: 1200px) {
  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 23px;
    cursor: pointer;
    z-index: 1;
  }
  .menu {
    display: none;
  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  /* контейнер меню */
  .menu-list {
    visibility: hidden;
  }
}
#menu__toggle {
  opacity: 0;
  top: 20px;
  right: 34px;
  width: 23px;
  height: 20px;
  display: none;
}

.name-trends {
  border: 3px solid #898045;
  color: #b59f5b;
  margin-bottom: 15px;
  margin-left: 1.2%;
  margin-right: 1.2%;
  z-index: 2;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding-top: 42px;
  padding-bottom: 31px;
  padding-left: 2.4%;
  padding-right: 2.4%;
  width: 97.6%;
}
.description {
  color: white;
  font-size: 20px;
  font-family: Open Sans, Arial, sans-serif;
  letter-spacing: normal;
  margin-top: 15px;
  line-height: 1.2;
}

.trend-class-link {
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}

/*popup*/
.popup {
  visibility: hidden;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 3;
  display: flex;
}

.popup .containerpop {
  margin: 100px auto 0px auto;
  width: 390px;
  padding: 10px;
}
.link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.popup__container {
  /*  border: 390px 590px;*/
  border: 1px solid black;
  width: 390px;
  height: 590px;
  background: white;
}

.feed-back_header {
  text-transform: uppercase;
  color: black;
  font-size: 20px;
  font-family: Open Sans, Arial, sans-serif;
  display: flex;
  text-align: center;
  position: relative;
  flex-direction: column;
  padding-bottom: 32px;
  justify-content: center;
  margin-top: 55px;
}

.feed-back_header::after {
  content: "";
  display: block;
  height: 3px;
  width: 68px;
  background-color: #e1d9bd;
  margin: 10px auto 0;
}
.form-hint2 {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 13px;
}
.form {
  margin-right: 30px;
  margin-left: 30px;
}
.select {
  box-sizing: border-box;
  display: block;
  width: 329px;
  border: 0;
  margin: 0;
  font-size: 13px;
  padding: 10px 20px;
  height: 40px;
  background-color: #f4f7f6;
  font-family: OpenSans-Regular;
  color: #767676;
  margin-bottom: 38px;
}

.radio-group {
  font-size: 13px;
  font-weight: 400;
  border-color: black;
}
.form-hin {
  margin-top: 38px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 13px;
  display: block;
}
.field-textarea {
  background-color: #f4f7f6;
  height: 131px;
  width: 329px;
  border-color: #f4f7f6;
}
.popup-button {
  margin-bottom: 55px;
  width: 330px;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #b59f5b;
  margin-top: 28px;
}

/*(orientation: landscape) */
@media (min-width: 641px) and (max-width: 1200px) and (orientation: portrait) {
  .trend1,
  .trend2,
  .trend3,
  .trend4 {
    width: 49.625%;
  }
  .trends {
    min-width: 641px;
  }
  .product {
    width: 45%;
  }
  .container {
    width: 91%;
  }
  .news {
    width: 56%;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .welcome {
    background-image: url("../images/banner-bg-tablet.jpg");
  }
}
/*(orientation: landscape) */
@media (min-width: 641px) and (max-width: 1200px) and (orientation: landscape) {
  .trend1,
  .trend2,
  .trend3,
  .trend4 {
    width: 24.813%;
  }
  .trends {
    min-width: 641px;
  }
  .product {
    width: 45%;
  }
  .container {
    width: 91%;
  }
  .news {
    width: 56%;
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .welcome {
    background-image: url("../images/banner-bg-tablet.jpg");
  }
  .description {
    font-size: 17px;
  }
}
/*.trend2, .trend3, .trend4*/

@media (max-width: 640px) {
  .main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 91%;
  }
  .welcome {
    background-image: url("../images/banner-mobile.jpg");
  }
  .card {
    display: flex;
    flex-direction: column;
  }
  .trend1,
  .trend2,
  .trend3,
  .trend4 {
    width: 99.25%;
  }
  .trends {
    min-width: 340px;
  }
  .product {
    width: 90%;
    margin-right: 0;
  }
  .products {
    align-items: center;
    justify-content: center;
  }
  .welcome-title {
    font-size: 40px;
  }
  .description {
    font-size: 17px;
  }
}
